<!DOCTYPE html>
<% include _debut %>
		<nav><a href="./">Accueil</a> &gt; <a href="articles">Articles</a> &gt; <a href="articles/tag/<%=tag%>">Tag : <%=tag_affichage%></a></nav>
		
		<h1>Articles marqués <a class='tag' href='articles/tag/<%=tag%>'><%=tag_affichage%></a></h1>
		<hr/>
		<%if (description != '') {%>
		<p class='resume'>
			<%-description%>
		</p>
		<hr/>
		<%}%>
		<% include _liste_articles %>
<% include _fin %>
