<!DOCTYPE html>
<% include _debut %>
		<nav><a href="./">Accueil</a> &gt; <a href="./articles">Articles</a></nav>
		<p id="accueil">Les articles peuvent être parcourus par date ou par tags.</p>
		<h1>Par tags</h1>
		<hr/>
		<div id="tags">
			<%-tags%>
		</div>
			<h1>Par date</h1>
			<hr/>
		<div>
			<ul>
				<li><a href="articles/date/aujourdhui">Aujourd'hui</a> (<%=nb_aujourdhui%>)</li>
				<li><a href="articles/date/cette-semaine">Cette semaine</a> (<%=nb_cette_semaine%>)</li>
				<li><a href="articles/date/ce-mois">En <%=ce_mois%></a> (<%=nb_ce_mois%>)</li>
				<%for (var i = cette_annee ; i >= premiere_annee ; i--) {%>
				<li><a href="articles/date/en-<%=i%>">En <%=i%></a> (<%=nb_annee[i]%>)</li>
				<%}%>
			</ul>
		</div>
<% include _fin %>
